<div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
  <header class="demo-drawer-header">
    <%= image_tag current_user.avatar.url(:medium), class: 'demo-avatar' %>
    <div class="demo-avatar-dropdown">
      <span><%= current_user.email %></span>
      <div class="mdl-layout-spacer"></div>
      <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons" role="presentation">arrow_drop_down</i>
        <span class="visuallyhidden">Accounts</span>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
        <li class="mdl-menu__item">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-fw fa-sign-out"></i><%= t('views.pages.global.sign_out') %>
          <% end %>
        </li>
      </ul>
    </div>
  </header>
  <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
    <%= link_to administration_initiatives_path, class: "mdl-navigation__link #{yield :initiatives}" do %>
      <i class="mdl-color-text--blue-grey-400 fa fa-fw fa-dashboard"></i>
      <%= t('views.pages.global.initiatives') %>
    <% end %>
    <%= link_to administration_categories_path, class: "mdl-navigation__link #{yield :categories}" do %>
      <i class="mdl-color-text--blue-grey-400 fa fa-fw fa-dashboard"></i>
      <span class="nav-link-text"><%= t('views.pages.global.categories') %></span>
    <% end %>
    <%= link_to administration_subscriptions_path, class: "mdl-navigation__link #{yield :subscriptions}" do %>
      <i class="mdl-color-text--blue-grey-400 fa fa-fw fa-dashboard"></i>
      <span class="nav-link-text"><%= t('views.pages.global.subscriptions') %></span>
    <% end %>
    <%= link_to administration_contacts_path, class: "mdl-navigation__link #{yield :contacts}" do %>
      <i class="mdl-color-text--blue-grey-400 fa fa-fw fa-dashboard"></i>
      <span class="nav-link-text"><%= t('views.pages.global.contacts') %></span>
    <% end %>
    <%= link_to administration_users_path, class: "mdl-navigation__link #{yield :users}" do %>
      <i class="mdl-color-text--blue-grey-400 fa fa-fw fa-dashboard"></i>
      <span class="nav-link-text"><%= t('views.pages.global.users') %></span>
    <% end %>
    <%= link_to confirmating_administration_initiatives_path, class: "mdl-navigation__link #{yield :confirmating}" do %>
      <i class="mdl-color-text--blue-grey-400 fa fa-fw fa-dashboard"></i>
      <span class="nav-link-text"><%= t('views.pages.global.confirmating') %></span>
    <% end %>
    <%= link_to fundraising_administration_initiatives_path, class: "mdl-navigation__link #{yield :fundraising}" do %>
      <i class="mdl-color-text--blue-grey-400 fa fa-fw fa-dashboard"></i>
      <span class="nav-link-text"><%= t('views.pages.global.fundraising') %></span>
    <% end %>
    <%= link_to implementing_administration_initiatives_path, class: "mdl-navigation__link #{yield :implementing}" do %>
      <i class="mdl-color-text--blue-grey-400 fa fa-fw fa-dashboard"></i>
      <span class="nav-link-text"><%= t('views.pages.global.implementing') %></span>
    <% end %>
  </nav>
</div>
