<%= provide :site_title, t('views.pages.global.user') %>
<%= provide :users_show, 'active' %>

<div class="row">
  <div class="col-sm-12">
    <p><%= t('views.pages.user.name') %>: <%= @user.name %></p>
    <p><%= t('views.pages.user.phone') %>: <%= @user.phone %></p>
    <p><%= t('views.pages.user.age') %>: <%= @user.age %></p>
    <p><%= t('views.pages.user.roles') %>: <%= @user.decorate.roles_name %></p>
    <div class="avatar">
      <%= image_tag @user.avatar.url(:original), class: 'full-image' %>
    </div>
  </div>
</div>
