<% collection.decorate.each do |initiative| %> 
  <div class="col-sm-6" id="initiative-<%= initiative.id %>">
    <div class="panel panel-primary">
      <div class="panel-heading"><%= initiative.title %></div>
      <div class="panel-body">
        <%= image_tag(initiative.attachments.first.image.url(:medium), class: 'img-responsive') if initiative.attachments.first %>
      </div>
      <div class="panel-footer">
        <p><%= initiative.short_description %></p>
        <p><%= t('views.pages.global.finish_date') %>: <%= initiative.finish_date %></p>
        <p><%= t('views.pages.global.general_sum') %>: <%= initiative.general_sum %></p>
        <p><%= t('views.pages.global.collected_amount') %>: <%= initiative.collected_amount %></p>
        <p><%= initiative.state %></p>

        <!-- Categories -->
        <p>
          <%= t('views.pages.global.categories') %>: 
          <%= initiative.categories_title %>
        </p>
        <!-- links -->
        <p>
          <%= link_to t('views.pages.global.button.show'), users_initiative_path(initiative), class: 'btn btn-info btn-sm' %>
          <%= initiative_state_user_links initiative %>
        </p>
      </div>
    </div>
  </div>
<% end %>