<%= provide :site_title, t('views.pages.initiatives.edit.title') %>
<%= provide :initiatives_edit, 'active' %>

<h2><%= t('views.pages.global.initiatives') %></h2>

<%= simple_form_for [:users, @initiative], html: { multipart: true } do |f| %>
  <%= f.input :title %>
  <%= f.input :short_description %>
  <%= f.input :long_description %>
  <%= f.input :finish_days %>
  <%= f.input :general_sum %>

  <%= f.input :category_ids, collection: @categories.order(:title), label_method: :title, value_method: :id, prompt: 'Chose your categories', input_html: { multiple: true } %>

  <div id="images_cocoon">
    <%= f.simple_fields_for :attachments do |attachment| %>
      <% if attachment.object.image? %>
        <% if attachment.object.image.url %>
          <%= image_tag attachment.object.image.url(:thumb) %>
          <%= link_to 'remove image', users_attachment_path(attachment.object.id, initiative_id: @initiative.slug), method: :delete %>
        <% else %>
          <%= render 'image_fields', f: attachment %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div id="videos_cocoon">
    <%= f.simple_fields_for :attachments do |attachment| %>
      <% if attachment.object.video? %>
        <% if attachment.object.video.url %>
          <%= video_tag attachment.object.video.url, controls: true %>
          <%= link_to 'remove video', users_attachment_path(attachment.object.id, initiative_id: @initiative.slug), method: :delete %>
        <% else %>
          <%= render 'video_fields', f: attachment %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%= link_to_add_association 'add image', f, :attachments, partial: 'users/initiatives/image_fields', data: { association_insertion_node: '#images_cocoon', association_insertion_method: :append } %>
  <%= link_to_add_association 'add video', f, :attachments, partial: 'users/initiatives/video_fields', data: { association_insertion_node: '#videos_cocoon', association_insertion_method: :append } %>

  <%= f.button :submit, t('views.pages.global.button.edit') %>

<% end %>