<h1>List Initiatives</h1>
<%= link_to 'New initiative', new_users_initiative_path %>

<div>
  <% @initiatives.each do |initiative| %>
    <p>title: <%= initiative.title %></p>
    <p>short description <%= initiative.short_description %></p>
    <p>long description <%= initiative.long_description %></p>
    <p>finished date <%= initiative.finished_date %></p>
    <p>general sum <%= initiative.general_sum %></p>
    <p>categories: 
      <% initiative.categories.each do |category| %>
        <p><%= category.title %></p>
      <% end %>
    </p>

    <!-- links -->
    <p>
      <%= link_to 'Show', users_initiative_path(initiative) %> | 
      <%= link_to 'Edit', edit_users_initiative_path(initiative) %>        
    </p>
  <% end %>

  <%= paginate @initiatives %>
</div>