<h1>Initiative: <%= @initiative.title %></h1>
<%= link_to 'New initiative', new_users_initiative_path %>

<div>
  <p>title: <%= @initiative.title %></p>
  <p>short description <%= @initiative.short_description %></p>
  <p>long description <%= @initiative.long_description %></p>
  <p>finished date <%= @initiative.finished_date %></p>
  <p>general sum <%= @initiative.general_sum %></p>
  <p>categories: 
    <% @initiative.categories.each do |category| %>
      <p><%= category.title %></p>
    <% end %>
  </p>

  <!-- initiative links -->
  <p>
    <%= link_to 'Edit', edit_users_initiative_path(@initiative) %> | 
    <%= link_to 'Destroy', users_initiative_path(@initiative), method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>

  <!-- show comments -->
  <h3>Comments:</h3>

  <% @initiative.comments.each do |comment| %>
    <p>title: <%= comment.title %></p>
    <p>text: <%= comment.text %></p>

    <%= link_to 'Delete', users_initiative_comment_path(@initiative, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

  <!-- add comments -->
  <% if current_user %>
    <h3>Add comments</h3>

    <%= simple_form_for @initiative.comments.build, url: users_initiative_comments_path(@initiative), html: { multipart: true } do |f| %>
      <%= f.input :title %>
      <%= f.input :text %>

      <%= f.button :submit, 'Add comment' %>
    <% end %>
  <% end %>
</div>