<div class="mdl-grid portfolio-max-width">
  <% collection.decorate.each do |initiative| %> 
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
      <div class="mdl-card__media">
        <%= image_tag(initiative.attachments.first.image.url(:medium), class: 'article-image') if initiative.attachments.first %>
      </div>
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><%= initiative.title %></h2>
      </div>
      <div class="mdl-card__supporting-text">
        <p><%= initiative.short_description %></p>
        <p><%= t('views.pages.global.finish_date') %>: <%= initiative.finish_date %></p>
        <p><%= t('views.pages.global.general_sum') %>: <%= initiative.general_sum %></p>
        <p><%= t('views.pages.global.collected_amount') %>: <%= initiative.collected_amount %></p>
        <p><%= t("views.pages.initiatives.state.#{initiative.state}") %></p>

        <!-- Categories -->
        <p>
          <%= t('views.pages.global.categories') %>: 
          <%= initiative.categories_title %>
        </p>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <%= link_to t('views.pages.global.button.show'), initiative_path(initiative), class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent' %>
      </div>
    </div>
  <% end %>
</div>
