<h2>Create initiative</h2>

<%= simple_form_for @initiative, html: { multipart: true } do |f| %>
  <%= f.input :title %>
  <%= f.input :short_description %>
  <%= f.input :long_description %>
  <%= f.input :finished_date %>
  <%= f.input :general_sum %>

  <%= f.input :category_ids, collection: @categories.order(:title), label_method: :title, value_method: :id, prompt: 'Chose your categories', input_html: { multiple: true } %>

  <%= f.button :submit, 'Create initiative' %>

<% end %>