<h4><%= t('views.pages.global.contacts') %></h4>

<div class=''>
  <%= notification.target.full_name %> has added new question
</div>

<div class=''>
  <%= notification.target.full_name %>
  <%= notification.target.email %>
  <%= notification.target.description %>
</div>
