<div id="images_cocoon">
  <%= f.simple_fields_for :attachments do |attachment| %>
    <% if attachment.object.image? %>
      <% if attachment.object.image.url %>
        <%= image_tag attachment.object.image.url(:thumb) %>
        <%= link_to t('views.pages.attachments.destroy.image'), users_attachment_path(attachment.object.id, redirect_path: redirect_path), method: :delete %>
      <% else %>
        <%= render 'image_fields', f: attachment %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div id="videos_cocoon">
  <%= f.simple_fields_for :attachments do |attachment| %>
    <% if attachment.object.video? %>
      <% if attachment.object.video.url %>
        <%= video_tag attachment.object.video.url, controls: true %>
        <%= link_to t('views.pages.attachments.destroy.video'), users_attachment_path(attachment.object.id, redirect_path: redirect_path), method: :delete %>
      <% else %>
        <%= render 'video_fields', f: attachment %>
      <% end %>
    <% end %>
  <% end %>
</div>