<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Для користувачів</h1>
      <ul class="mdl-mega-footer__link-list">
        <%= navigation_for_user %>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Для адміністраторів</h1>
      <ul class="mdl-mega-footer__link-list">
        <%= navigation_for_administrator %>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Для не зареєстрованих користувачів</h1>
      <ul class="mdl-mega-footer__link-list">
        <%= navigation_for_signout %>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">FAQ</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><%= link_to t('views.pages.global.initiatives'), main_app.initiatives_path %></li>
        <li><%= link_to t('views.pages.initiatives.new.title'), main_app.new_users_initiative_path %></li>
        <li><%= link_to t('views.pages.contacts.new.title'), main_app.new_contact_path %></li>
      </ul>
    </div>

  </div>

  <div class="mdl-mega-footer__bottom-section">
    <%= simple_form_for Subscription.new, url: main_app.subscriptions_path, html: { multipart: true }, remote: true do |f| %>
      <%= f.input :email %>

      <%= f.button :submit, t('views.pages.global.button.new') %>
    <% end %>
  </div>
</footer>
