<nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
  <%=link_to t('views.pages.global.initiatives'), initiatives_path, class: 'mdl-navigation__link' %>
  <%= link_to t('views.pages.initiatives.new.title'), new_users_initiative_path, class: 'mdl-navigation__link' %>
  <%= navigation_for_administrator %>
  <%= navigation_for_signout %>
  <%= navigation_for_user %>
  <%= link_to t('views.pages.contacts.new.title'), new_contact_path, class: 'mdl-navigation__link' %>
</nav>
