<%= provide :site_title, t('views.pages.global.audit_implemented') %>
<%= provide :audit_implemented, 'active' %>

<h1><%= t('views.pages.initiatives.index.title') %></h1>

<div>
  <%= render 'index' %>

  <%= paginate @initiatives %>
</div>