<%= provide :site_title, t('views.pages.global.initiative') %>
<%= provide :initiatives_show, 'active' %>

<h1><%= t('views.pages.global.initiative')%>: <%= @initiative.title %></h1>

<div>
  <p><%= t('views.pages.global.title') %>: <%= @initiative.title %></p>
  <p><%= t('views.pages.global.short_description') %>: <%= @initiative.short_description %></p>
  <p><%= t('views.pages.global.long_description') %>: <%= @initiative.long_description %></p>
  <p><%= t('views.pages.global.finish_date') %>: <%= @initiative.finish_date %></p>
  <p><%= t('views.pages.global.general_sum') %>: <%= @initiative.general_sum %></p>
  <p><%= t('views.pages.global.initiatives') %>: 
    <% @initiative.categories.each do |category| %>
      <p><%= t('views.pages.global.title') %> <%= category.title %></p>
    <% end %>
  </p>

  <!-- initiative links -->
  <p>
    <%= link_to t('views.pages.global.button.edit'), edit_administration_initiative_path(@initiative) %> | 
    <%= link_to t('views.pages.global.button.destroy'), administration_initiative_path(@initiative), method: :delete, data: { confirm: t('views.pages.global.confirm') } %>
  </p>

  <!-- show comments -->
  <h3><%= t('views.pages.global.comments') %>:</h3>

  <% @initiative.comments.each do |comment| %>
    <p><%= t('views.pages.global.title') %>: <%= comment.title %></p>
    <p><%= t('views.pages.global.text') %>: <%= comment.text %></p>

    <!-- comment links -->
    <%= link_to t('views.pages.global.button.destroy'), administration_initiative_comment_path(@initiative, comment), method: :delete, data: { confirm: t('views.pages.global.confirm') } %>
  <% end %>
</div>