<%= provide :site_title, t('views.pages.global.administration') %>
<%= provide :administration, 'active' %>

<div class="mdl-grid"> 
  <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-table mdl-cell--12-col-phone flex-column background-teal">
    <%= link_to administration_initiatives_path, class: 'flex-column a-black' do %>
      <%= fa_icon 'book 2x' %>
      <%= @presenter.initiatives_count %> <%= t('views.pages.global.initiatives') %>
      <span class="float-left">
        <%= t('views.pages.global.button.show') %>
        <%= fa_icon 'angle-right' %>
      </span>
    <% end %>
  </div>
  <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-table mdl-cell--12-col-phone flex-column background-green">
    <%= link_to administration_users_path, class: 'flex-column a-black' do %>
      <%= fa_icon 'address-book 2x' %>
      <%= @presenter.users_count %> <%= t('views.pages.global.users') %>
      <span class="float-left">
        <%= t('views.pages.global.button.show') %>
        <%= fa_icon 'angle-right' %>
      </span>
    <% end %>
  </div>
  <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-table mdl-cell--12-col-phone flex-column background-lime">
    <%= link_to administration_subscriptions_path, class: 'flex-column a-black' do %>
      <%= fa_icon 'envelope 2x' %>
      <%= @presenter.subscriptions_count %> <%= t('views.pages.global.subscriptions') %>
      <span class="float-left">
        <%= t('views.pages.global.button.show') %>
        <%= fa_icon 'angle-right' %>
      </span>
    <% end %>
  </div>
  <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-table mdl-cell--12-col-phone flex-column background-yellow">
    <%= link_to administration_categories_path, class: 'flex-column a-black' do %>
      <%= fa_icon 'list-alt 2x' %>
      <%= @presenter.categories_count %> <%= t('views.pages.global.categories') %>
      <span class="float-left">
        <%= t('views.pages.global.button.show') %>
        <%= fa_icon 'angle-right' %>
      </span>
    <% end %>
  </div>
</div>

<div class="mdl-grid"> 
  <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-table mdl-cell--12-col-phone background-teal">
    <% @presenter.initiatives.each do |initiative| %>
      <div class="demo-card-square mdl-card mdl-card-initiatives mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand" style="background: url('<%= initiative.decorate.first_image.url(:medium) %>'); background-size: cover; ">
          <h2 class="mdl-card__title-text"><%= initiative.title %></h2>
        </div>
        <div class="mdl-card__supporting-text">
          <p class="ndk-card__short-description">
            <%= t('views.pages.global.short_description') %>: <%= initiative.short_description %>
          </p>
          <p>
            <%= t('views.pages.global.finish_date') %>: <%= initiative.finish_date %>
          </p>
          <p>
            <%= t('views.pages.global.general_sum') %>: <%= initiative.general_sum %>
          </p>
          <p>
            <%= t('views.pages.global.collected_amount') %>: <%= initiative.collected_amount %>
          </p>
          <p>
            <%= t("views.pages.initiatives.state.#{initiative.state}") %>
          </p>

          <!-- Categories -->
          <p>
            <%= t('views.pages.global.categories') %>: <%= initiative.decorate.categories_title %>
          </p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <%= link_to t('views.pages.global.button.show'), administration_initiative_path(initiative), class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
        </div>
      </div> 
    <% end %>
  </div>
  <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-table mdl-cell--12-col-phone background-green">
    <% @presenter.users.each do |user| %>
      <div class="demo-card-square mdl-card mdl-card-users mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand" style="background: url('<%= user.avatar.url(:medium) %>'); background-size: cover; ">
          <h2 class="mdl-card__title-text"><%= user.name %></h2>
        </div>
        <div class="mdl-card__supporting-text">
          <p>
            <%= t('views.pages.global.email') %>: <%= user.email %>
          </p>
          <p>
            <%= t('views.pages.global.phone') %>: <%= user.phone %>
          </p>
          <p>
            <%= t('views.pages.global.age') %>: <%= user.age %>
          </p>
          <p>
            <%= t('views.pages.global.initiatives') %>: <%= user.initiatives.count %>
          </p>

          <!-- roles links -->
          <div class="flex-between roles-links">
            <%= roles_links(@presenter.roles, user) %>
          </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <%= link_to t('views.pages.global.button.show'), administration_user_path(user), class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
        </div>
      </div> 
    <% end %>
  </div>
  <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-table mdl-cell--12-col-phone background-lime">
    <% @presenter.subscriptions.each do |subscription| %>
      <div class="demo-card-square mdl-card mdl-card-subscriptions mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
          <p>
            <%= t('views.pages.global.email') %>: <%= subscription.email %>
          </p>
          <p>
            <%= t('views.pages.global.created_at') %>: <%= subscription.created_at %>
          </p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <%= link_to t('views.pages.global.button.destroy'), administration_subscription_path(subscription), method: :delete, data: { confirm: t('views.pages.global.confirm') }, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
        </div>
      </div> 
    <% end %>
  </div>
  <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-col-table mdl-cell--12-col-phone background-yellow">
    <% @presenter.categories.each do |category| %>
      <div class="demo-card-square mdl-card mdl-card-subscriptions mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
          <p>
            <%= t('views.pages.global.title') %>: <%= category.title %>
          </p>
          <p>
            <%= t('views.pages.global.position') %>: <%= category.position %>
          </p>
          <p>
            <%= t('views.pages.global.count.initiatives') %>: <%= category.initiatives.count %>
          </p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <%= link_to t('views.pages.global.button.show'), administration_category_path(category), class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
        </div>
      </div> 
    <% end %>
  </div>
</div>
