<h2><%= t('devise.passwords.edit.change_your_password') %></h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.input :reset_password_token %>
  <%= f.input :password, autofocus: true, autocomplete: :off %>
  <%= f.input :password_confirmation, autocomplete: :off %>

  <%= f.button :submit, t('devise.passwords.edit.change_my_password') %>
<% end %>

<%= render 'users/shared/links' %>
