<h3><%= t('views.pages.reports.new.title') %></h3>

<%= simple_form_for @initiative.reports.build, url: users_initiative_reports_path(@initiative), html: { multipart: true } do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>

  <div id="images_cocoon">
    <%= f.simple_fields_for :attachments do |attachment| %>
      <%= render 'users/attachments/image_fields', f: attachment %>
    <% end %>
  </div>

  <div id="videos_cocoon">
    <%= f.simple_fields_for :attachments do |attachment| %>
      <%= render 'users/attachments/video_fields', f: attachment %>
    <% end %>
  </div>

  <%= link_to_add_association 'add image', f, :attachments, partial: 'users/attachments/image_fields', data: { association_insertion_node: '#images_cocoon', association_insertion_method: :append } %>
  <%= link_to_add_association 'add video', f, :attachments, partial: 'users/attachments/video_fields', data: { association_insertion_node: '#videos_cocoon', association_insertion_method: :append } %>

  <%= f.button :submit, t('views.pages.global.button.new') %>
<% end %>