<% @initiative.reports.includes(:attachments).each do |report| %>
  <p><%= t('views.pages.global.title') %>: <%= report.title %></p>
  <p><%= t('views.pages.global.description') %>: <%= report.description %></p>
  <p><%= t('views.pages.global.updated_at') %>: <%= report.updated_at %></p>

  <!-- show images -->
  <div class="images">
    <% report.attachments.each do |attachment| %>
      <% if attachment.image? %>
        <%= image_tag attachment.image.url(:medium) %>
      <% end %>
    <% end %>
  </div>

  <!-- show videos -->
  <div class="videos">
    <% report.attachments.each do |attachment| %>
      <% if attachment.video? %>
        <%= video_tag attachment.video.url, controls: true %>
      <% end %>
    <% end %>
  </div>

  <div class="edit-report">
    <%= render '/users/reports/edit', report: report %>
  </div>

  <div class="remove-report">
    <%= link_to t('views.pages.global.button.destroy'), users_initiative_report_path(@initiative.slug, report), method: :delete, data: { confirm: t('views.pages.global.confirm') }, class: 'btn btn-danger btn-sm' %>
  </div>

<% end %>