<h2>Edit category: <%= @category.title %></h2>

<%= simple_form_for @category, html: { multipart: true } do |f| %>
  <%= f.input :title %>
  <%= f.input :position %>
  
  <%= f.button :submit, 'Edit category' %>

<% end %>