<h1>List categories</h1>
<%= link_to 'New category', new_category_path %>

<div>
  <% @categories.each do |category| %>
    <p>title: <%= category.title %></p>
    <p>position: <%= category.position %></p>
    <p>initiatives: <%= category.initiatives.count %></p>

    <!-- links -->
    <p>
      <%= link_to 'Show', category_path(category) %> | 
      <%= link_to 'Edit', edit_category_path(category) %> | 
      <%= link_to 'Destroy', category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
</div>