<%= provide :site_title, t('views.pages.categories.index.title') %>
<%= provide :categories, 'active' %>

<div class="mdl-grid"> 
  <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-table mdl-cell--12-col-phone flex-center">
    <%= link_to t('views.pages.categories.new.title'), new_administration_category_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' %>
  </div>
</div>

<div class="mdl-grid"> 
  <% @categories.each do |category| %>
    <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--12-col-table mdl-cell--12-col-phone">
      <div class="demo-card-square mdl-card mdl-card-subscriptions mdl-shadow--2dp">
        <div class="menu-links-block">
          <button id="demo-menu-lower-right-<%= category.id %>" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">more_vert</i>
          </button>
        </div>
        <div class="mdl-card__supporting-text">
          <p>
            <%= t('views.pages.global.title') %>: <%= category.title %>
          </p>
          <p>
            <%= t('views.pages.global.position') %>: <%= category.position %>
          </p>
          <p>
            <%= t('views.pages.global.count.initiatives') %>: <%= category.initiatives.count %>
          </p>
        </div>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right-<%= category.id %>"> <li class="mdl-menu__item flex-center">
            <%= link_to t('views.pages.global.button.show'), administration_category_path(category), class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
          </li>
          <li class="mdl-menu__item flex-center">
              <%= link_to t('views.pages.global.button.edit'),  edit_administration_category_path(category), class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
          </li>
          <li class="mdl-menu__item flex-center">
            <%= link_to t('views.pages.global.button.destroy'), administration_category_path(category), method: :delete, data: { confirm: t('views.pages.global.confirm') }, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>   
          </li>
        </ul>
      </div> 
    </div>
  <% end %>
</div>
<div class="mdl-grid"> 
  <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-table mdl-cell--12-col-phone">
    <%= paginate @categories %>
  </div>
</div>
