<header class="header header-style-2 pos-f-t dark-mobile">
  <div class="container-custome">
    <nav class="navbar" role="navigation">
      <button class="navbar-toggler pull-xs-right mobile-menu col-style-2" type="button" data-toggle="collapse" data-target="#mainNavbarCollapse">
        <i class="vertical-align"></i>
      </button>
      <a class="navbar-brand vertical-align" href="#">
        <img src="http://electricblaze.com/soliaris/img/logo.png" alt="">  
      </a>
      <div class="nav-list" id="mainNavbarCollapse">
        <ul class="nav navbar-nav pull-lg-right">
          <li class="nav-item">
            <%= link_to t('views.pages.global.initiatives'), initiatives_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to t('views.pages.initiatives.new.title'), new_users_initiative_path, class: 'nav-link' %>
          </li>
          <% unless user_signed_in? %>
            <li class="nav-item">
              <%= link_to t('views.pages.global.sign_in'), new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to t('views.pages.global.registration'), new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
          <% if user_signed_in? %>
            <% if current_user.has_role? :administrator %>
              <li class="nav-item drop-link">
                <a class="nav-link" href="#">
                  <%= t('views.pages.global.role.administrator') %>
                </a>
                <i class="icon-down-open-big icon"></i>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to t('views.pages.global.initiatives'), administration_initiatives_path %>
                  </li>
                  <li>
                    <%= link_to t('views.pages.global.categories'), administration_categories_path %>
                  </li>
                  <li>
                    <%= link_to t('views.pages.global.users'), administration_users_path %>
                  </li>
                  <li>
                    <%= link_to t('views.pages.global.confirmating'), confirmating_administration_initiatives_path %>
                  </li>
                  <li>
                    <%= link_to t('views.pages.global.fundraising'), fundraising_administration_initiatives_path %>
                  </li>
                  <li>
                    <%= link_to t('views.pages.global.implementing'), implementing_administration_initiatives_path %>
                  </li>
                </ul>
              </li>
            <% end %>
            <% if current_user.has_role? :moderator %>
              <li class="nav-item drop-link">
                <a class="nav-link" href="#"><%= t('views.pages.global.role.moderator') %></a>
                <i class="icon-down-open-big icon"></i>
                <ul class="dropdown-menu">
                  <li><a href="#"></a></li>
                </ul>
              </li>
            <% end %>
            <% if current_user.has_role? :user %>
              <li class="nav-item drop-link">
                <a class="nav-link" href="#">
                  <%= t('views.pages.global.role.user') %>
                </a>
                <i class="icon-down-open-big icon"></i>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to t('views.pages.global.initiatives'), users_initiatives_path %>
                  </li>
                </ul>
              </li>
            <% end %>
          <% end %>
          <li class="nav-item">
            <%= link_to t('views.pages.global.profile_edit'), edit_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to t('views.pages.global.sign_out'), destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </nav>
  </div>   
</header>