<!DOCTYPE html>
<html>
  <%= render 'layouts/administration/header' %>

  <body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <%= render 'layouts/administration/navigation' %>
    
    <%= render 'layouts/administration/flash' %>
    <div class="content-wrapper administration">
      <div class="container-fluid">
        <%= render 'layouts/administration/breadcrumb' %>
        
        <%= yield %>
      </div>
    </div>

    <%# render 'layouts/administration/footer' %>
  </body>
</html>
