<!DOCTYPE html>
<html>
  <%= render 'layouts/header' %>

  <body>
    <%= render 'layouts/navigation' %>
    
    <%= render 'layouts/flash' %>

    <%= render_breadcrumbs separator: ' / ' %>
    
    <%= yield %>
  </body>
</html>
