<!DOCTYPE html>
<html>
  <%= render 'layouts/administration/header' %>

  <body>
    <%= render 'layouts/administration/navigation' %>
    
    <%= render 'layouts/administration/flash' %>

    <%= render 'layouts/administration/breadcrumb' %>
    
    <div class="container">    
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>

  <%= render 'layouts/administration/footer' %>
</html>
