<!DOCTYPE html>
<html>
  <%= render 'layouts/user/head' %>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <%= render 'layouts/user/header' %>
      
      <%= render 'layouts/user/flash' %>
      
      <%# render 'layouts/user/breadcrumb' %>
      
      <main class="mdl-layout__content">
        <%= yield %>

        <%= render 'layouts/user/footer' %>
      </main>
    </div>
  </body>
</html>
