<!DOCTYPE html>
<html>
  <head>
    <title>Initiatives</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> 

  <ul>
    <li><%= link_to 'Sign In', new_user_session_path %></li>
    <li><%= link_to 'Registration', new_user_registration_path %></li>
    <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
  </ul>

  <body>
    <%= yield %>
  </body>
</html>
