<!DOCTYPE html>
<html>
  <head>
    <title>Initiatives</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <% flash.each do |name, msg| %>
    <p> <%= msg %> </p>
  <% end %>

  <ul>
    <li><%= link_to 'Sign In', new_user_session_path %></li>
    <li><%= link_to 'Registration', new_user_registration_path %></li>
    <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
    <li><%= link_to 'Initiatives', initiatives_path %></li>
    <li>Administrators:</li>
    <li><%= link_to 'Initiatives', administration_initiatives_path %></li>
    <li><%= link_to 'Categories', administration_categories_path %></li>
    <li><%= link_to 'Users', administration_users_path %></li>
  </ul>

  <body>
    <%= yield %>
  </body>
</html>
