<!DOCTYPE html>
<html>
  <%= render 'layouts/header' %>

  <body class="page-style color-style-1">

    <%= render 'layouts/navigation' %>
    
    <%= render 'layouts/flash' %>
    
    <%= render 'layouts/preloader' %>

    <%# render 'layouts/breadcrumb' %>

    <%= yield %>
  </body>

  <%= render 'layouts/footer' %>
</html>
