<!DOCTYPE html>
<html>
  <%= render 'layouts/user/header' %>

  <body>
    <%= render 'layouts/user/navigation' %>
    
    <%= render 'layouts/user/flash' %>
    
    <%= render 'layouts/user/breadcrumb' %>

    <div class="container">    
      <div class="row">
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/user/footer' %>
  </body>
</html>
